.pane {
	-fx-background-color: #FFFFFF;
	-fx-border-radius: 15 15 15 15px;
	-fx-background-radius: 15 15 15 15px;
	-fx-border-color: #E0E0E0;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0.25, 0.0, 4.0);
}

.header {
	-fx-font-family: Roboto;
	-fx-font-style: normal;
	-fx-font-weight: bold;
	-fx-font-size: 18px;
	-fx-fill: #000000;
}

.text {
	-fx-font-family: Roboto;
	-fx-font-style: normal;
	-fx-font-weight: normal;
	-fx-font-size: 12px;
	-fx-fill: #5B5B5B;
}

.text-deleteall {
	-fx-font-family: Roboto;
	-fx-font-style: normal;
	-fx-font-weight: normal;
	-fx-font-size: 12px;
	-fx-fill: #FF5252;
}

.button-exit {
	-fx-background-color: transparent;
	-fx-background-radius: 0 15 0 15px;
	-fx-border-radius: 0 15 0 15px;
}

.button-exit:hover {
	-fx-background-color: #F4B4B4;
}
