.pane {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0.25, 0.0, 4.0);
}

.button {
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: #f2f2f2;
}
